<ion-app>
  <!--
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Bienvenue</ion-title>
    </ion-toolbar>
  </ion-header>
  -->
  <ion-content [fullscreen]="true">
  <!--
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Bienvenue</ion-title>
      </ion-toolbar>
    </ion-header>
  -->
  <ion-slides pager>
    <ion-slide>
      <ion-card class="welcome">
        <img src="https://images.unsplash.com/photo-1526666923127-b2970f64b422?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80"/>
        <ion-card-header>
          <ion-card-title>Bienvenue sur l'application Earthy</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Vous aimez lever les yeux et regarder vers le ciel ? Alors vous êtes au bon endroit !<br><br>
          Earthy vous permettra de découvrir une magnifique image de la NASA par jour ainsi que les explications associées.
          Vous avez aussi la possibilité de sauvegarder l'image pour la définir en fond d'écran.
        </ion-card-content>
        <ion-card-title>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon><br>
        </ion-card-title>
      </ion-card>
    </ion-slide>
    <ion-slide>

      <ion-card class="welcome">
        <img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"/>

        <ion-card-header>
          <ion-card-subtitle>Regarder les étoiles<br>                  
          </ion-card-subtitle>
          <ion-card-title>Sauvegarder vos lieux préférés</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Earthy vous permettra aussi de sauvegarder très simplement vos lieux préférés pour regarder les étoiles, les planètes, l'ISS et bien d'autres...
        </ion-card-content>
        <ion-card-title>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon><br>
        </ion-card-title>
      </ion-card>

    </ion-slide>
    <ion-slide>
      
      <ion-card class="welcome">
        <img src="https://images.unsplash.com/photo-1517976487492-5750f3195933?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"/>

        <ion-card-header>
          <ion-card-subtitle>Savoir où et quand<br>                  
          </ion-card-subtitle>
          <ion-card-title>Retenez la date de la prochaine mission</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Earthy n'oublie jamais la date et le lieu de la prochaine mission. 
          <ion-card-subtitle><br><ion-button fill="outline">Bientôt</ion-button><br></ion-card-subtitle>
          Earthy vous rappellera bientôt lorsque la mission commence avec une notif !
        </ion-card-content>
        <ion-card-title>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon><br>
        </ion-card-title>
      </ion-card>

    </ion-slide>
    <ion-slide>
      
      <ion-card class="welcome">
        <img src="https://images.unsplash.com/photo-1457364887197-9150188c107b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"/>

        <ion-card-header>
          <ion-card-subtitle>Merci d'avoir télécharger Earthy<br>                  
          </ion-card-subtitle>
          <ion-card-title>Bienvenue</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Commencez dès maintenant en admirant l'image du jour ! 
          <ion-card-subtitle><br>
            <ion-menu-button>Commencez</ion-menu-button><br>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      
    </ion-slide>
  </ion-slides>

  </ion-content>
</ion-app>