<ion-app>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="medium"></ion-menu-button>
      </ion-buttons>
      <ion-title>Informations</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-header collapse="condense">
      <ion-toolbar translucent>
        <ion-title size="large">Informations</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-card-header>
        <ion-card-title><ion-icon name="finger-print-outline"></ion-icon></ion-card-title>
        <br>
        <ion-card-title>Confidentialté</ion-card-title>
        Le respect de la vie privée est un droit fondamental et c’est l’une des valeurs essentielles d’Earthy. Lorsque vous utilisez l'application, vous choississez ce que vous voulez partager et avec qui.
        Merci de faire confiance à Earthy.
      </ion-card-header>
      <ion-item>
        <ion-label>Partage des données</ion-label>
        <ion-toggle disabled="false" color="success"></ion-toggle>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title><ion-icon name="construct-outline"></ion-icon></ion-card-title>
        <br>
        <ion-card-title>Fontionnalitées à venir</ion-card-title>
          <ul>
            <li>Ajout de la prochaine mission dans le calendrier</li>
            <li>Prise en charge de Haptic Touch & 3D Touch</li>
            <li>Notification de la prochaine mission</li>
            <li>Widget sur iOS</li>
            <li>Et bien plus... ❤️</li>
          </ul>
      </ion-card-header>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <br>
        <ion-card-title>Earthy 🌍</ion-card-title><br><br>
        <ion-card-subtitle>Made with ❤️ <a target="_blank" rel="noopener noreferrer" (click)="Merci()">by Emilien CHAPTARD</a></ion-card-subtitle>
        <ion-card-subtitle>Dernière mise à jour le 1er Avril 2020</ion-card-subtitle>
        <br>
        <ion-button expand="block" href="http://emilien.tp.crea.pro" class="fa fa-download">En savoir plus sur moi</ion-button>
      </ion-card-header>
    </ion-card>

  </ion-content>

</ion-app>