<ion-app>
  <ion-header collapse="condense">
    <ion-toolbar translucent>
      <ion-title size="large">?????</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
</ion-app>
