<ion-app>


  <ion-split-pane contentId="main-content">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/images']" (click)="vibrate()">
        <ion-icon name="images-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/favorites']" (click)="vibrate()">
        <ion-icon name="rocket-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/web']" (click)="vibrate()">
        <ion-icon name="location-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/info']" (click)="vibrate()">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-split-pane>

  <!--
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['\images']">
              <ion-icon name="image-outline" slot="start"></ion-icon>
              <ion-label (click)="vibrate()" >Image du jour</ion-label>
            </ion-item>
            <ion-item value="favorites" [routerLink]="['/favorites']">
              <ion-icon name="rocket-outline" slot="start"></ion-icon>
              <ion-label (click)="vibrate()">Prochaine mission</ion-label>
            </ion-item>
            <ion-item [routerLink]="['\web']">
              <ion-icon name="bookmark-outline" slot="start"></ion-icon>
              <ion-label (click)="vibrate()">Mes lieux</ion-label>
            </ion-item>
            <ion-item [routerLink]="['\qrcode']">

              <ion-label>QRcode</ion-label>
            </ion-item>
            <ion-item [routerLink]="['\info']">
              <ion-icon name="information-circle-outline" slot="start"></ion-icon>
              <ion-label (click)="vibrate()">Informations</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  -->
  
</ion-app>