<ion-app>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="medium"></ion-menu-button>
      </ion-buttons>
      <ion-spinner slot="end" name="lines" *ngIf="show"></ion-spinner>
      <ion-title>L'image du jour</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">L'image du jour</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card *ngIf="isload">
    <img src="{{ data.url }}"/>
    <!--<div class="video-container">
      <iframe width="100%" height="auto" src="{{ data.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>-->
    <ion-card-header>
      <ion-card-subtitle>{{ data.date }}</ion-card-subtitle>
      <ion-card-title >{{ data.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ data.explanation }}</ion-card-content>
    <ion-card-content>© {{ data.copyright }} NASA</ion-card-content>
    <ion-button expand="block" href="{{ data.hdurl }}" class="fa fa-download">Télécharger l'image en HD</ion-button>
  </ion-card>

  </ion-content>

</ion-app>