<ion-app>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="medium"></ion-menu-button>
      </ion-buttons>
      <ion-spinner slot="end" name="lines" *ngIf="show"></ion-spinner>
      <ion-title>Prochaine mission</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Prochaine mission</ion-title>
      </ion-toolbar>
    </ion-header>


    <ion-card *ngIf="isload">
      <img src="{{ data.links.mission_patch }}"/>
      <ion-card-header>
        <ion-card-subtitle>Décollage le {{ data.launch_date_utc }} avec la fusée {{data.rocket.rocket_name}}</ion-card-subtitle>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title >{{ data.mission_name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ data.details }}</ion-card-content>
      <ion-card-content>Site de lancement : {{ data.launch_site.site_name_long }}</ion-card-content>
      <ion-button expand="block" href="{{ data.links.mission_patch }}" onclick="handleButtonClick()" class="fa fa-download">Télécharger le badge de mission en HD</ion-button>
    </ion-card>
    <!--
    <ion-card *ngIf="isload">
      <img src="{{ data.url }}"/>
      <ion-card-header>
        <ion-card-subtitle>Le {{ data.date }}</ion-card-subtitle>
        <ion-card-title >{{ data.resource.planet }}</ion-card-title>
      </ion-card-header>
      <ion-card-content><script></script>{{ data.resource.dataset }}</ion-card-content>
    </ion-card>
    -->
  </ion-content>

</ion-app>