<ion-app>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="medium"></ion-menu-button>
      </ion-buttons>
      <ion-title>Mes lieux</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="addMarker()">
          <ion-icon slot="icon-only" name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div id="map_canvas"></div>
  </ion-content>

</ion-app>